<html ng-app="app" ng-controller="MainCtrl"><body>
<script src="/angular-1.6.4/angular.min.js"></script>
<script defered>
(window.xa=app=(angular||{}).module('app', [] ))

now=()=>(new Date()).getTime();

did=p=>document.getElementById(p);
dbg=true;//String.prototype.startsWith=s=>this.substr(s.length)=s

app.controller('MainCtrl',['$scope',
function mainCtrlController($scope,$rootScope ) {
	var p=app.p=$scope ;p.app=app;
	p.newId=function(){return now();}
	p.sessionStart=new Date();
	p.addLstnr=function(cat,id,o,mthdNm){
		var x=p.lstnrs[cat],y
		if(!x)
		x=p.lstnrs[cat]={}
		y=x[id]
		if(!y)
			y=x[id]=[]
		y.push({o:o,mthdNm:mthdNm})
	}

	p.fireLstnrs=function(cat,id){
		var x=p.lstnrs[cat],y,o
		if(!x)
		x=p.lstnrs[cat]={}
		y=x[id]
		if(y)for(var i in y)try{
			x=y[i]
			o=x.o
			o[x.mthdNm](cat,id,o)
		}catch(ex){
			console.error(ex,cat,id,x,);}
	}

	p.onChngCoop=function(id){}
	p.onChngUsr=function(id){}

	p.onByDate=function(data){var d=[],x
		for(var y in data){d[1]=data[y]
		for(var mnth in d[1]){d[2]=d[1][mnth]
		for(var dy in d[2]){d[3]=d[2][dy]
		for(var hr in d[3]){d[4]=d[3][hr]
		for(var mn in d[4]){d[5]=d[4][mn]
		for(var sc in d[5]){d[6]=d[5][sc]
		for(var ms in d[6]){d[7]=d[6][ms]
		for(var cat in d[7]){d[8]=d[7][cat]
		for(var id in d[8]){o=d[8][id]
			x=new Date(y,mnth,dy,hr,mn,sc,ms).getTime() // 
			if((!p.usrls.srvrLM)||(p.usrls.srvrLM<x)){p.usrls.srvrLM=x;}
			p.saveLSProp(cat,id,o)
			p.onSrvrChng(cat,id,o)
	}}}}}}}}}
	p.usrls.clientTime=now()
	}

	p.onSrvrChng=function(cat,id,prop){
		p.fireLstnrs(cat,id,prop)}

	p.loadLSProps=function(){
		var a=[],ls={},ks,b,cat,id,c,o,log=0
		for(var k in localStorage)
		{ks=k.toString()
		 if(ks.substr(0,6)=='coop1|')
		{b=ks.split('|')
		 if(b.length==3){
			cat=b[1];id=b[2];
			if(!(c=ls[cat]))
				c=ls[cat]={}
			o=localStorage[k]
			o=JSON.parse(o)
			c[id]=o;
			if(o && log<o.log)
				log=o.log;
		 }
		}}return {ls:ls,log:log};
	}

	p.saveLSProps=function(ls){
		var d,o,k
		for(var cat in ls){d=ls[cat]
		for(var id in d){o=d[id]
			p.saveLSProp(cat,id,o)
		}}}

	//prop::= log,cat,id,meta,val
	p.saveLSProp=function(cat,id,prop){
		var k='coop1|'+cat+'|'+id
		,s=JSON.stringify(prop);
		localStorage[k]=s;
		console.log('saveLSProp:',k,s);
		return s;}

	p.saveLSUsr=function(){
		localStorage.coop1Usr=JSON.stringify(p.usrls);}

p.srvr={
url:'/CoopSrvlt/'
,f:(body,url,mthd)=>fetch(p.srvr.url+(url?url:'')
	,	{method:mthd||'post'
		,headers: {'Content-Type': 'application/json'}
		,body:JSON.stringify(body)}
	)
,signup	:(usrId,pw,val)	=>p.srvr.f({op:'signup',usrId:usrId,pw:btoa(pw),val:val})
,login	:(cid,pw,lm,clientTime)=>{
	console.log('srvr.login:',lm,cid);
	return p.srvr.f({op:'login',pw:btoa(pw),lm:lm,clientTime:clientTime})}
,logout	:()=>{console.log('srvr.logout:');return p.srvr.f({op:'logout'})}
,chngPw	:(pw,clientTime)	=>p.srvr.f({op:'chngPw',pw:btoa(pw),clientTime:clientTime})
,update	:(cat,id,path,lm,val)=>p.srvr.f(val,cat+'/'+id+'/'+path,'put')
,updateMeta:(cat,id,path,meta)=>p.srvr.f(meta,cat+'/'+id+'/'+path,'patch')
,insert	:(cat,id,val)	=>p.srvr.f(p.srvr.url+cat+'/'+id+'/'+path,{method:'post'
	,headers: {'Content-Type': 'application/json'}
	,body:JSON.stringify(val)})
,byDates	:(from,to)		=>fetch(p.srvr.url+from+'/'+to)
	,UserState:{
		Non:{i:0,s:'Non'}
		,SignupPending:{i:1,s:'SignupPending'}
		,ProfilePending:{i:2,s:'ProfilePending'}
		,Ready:{i:3,s:'Ready'}
		,QueuePending:{i:4,s:'QueuePending'}
		,Queued:{i:5,s:'Queued'}
		,Auth2enter:{i:6,s:'Auth2enter'}
		,InCoop:{i:7,s:'InCoop'}
		,QuotaPending:{i:8,s:'QuotaPending'}
		,valueOf:s=>Object.keys(p.srvr.UserState).filter(e=>e==s)[0]
	}
}//srvr

	p.poll={intrvl:0,period:1000*20
		,init:function(){
			var o=p.poll,f
			if(o.intrvl)return;
			f=[
				p.srvr.byDates
			  ,
				r=>r.json()
			  ,
				r=>r?p.onByDate(r['return']):{}
			  ,
				()=>{var n=now()
					if(n>=o.trgt){o.trgt=n+o.period
						f[0](p.usrls.srvrLM,n)
						.then(f[1])
						.then(f[2]);}
					o.remaining=((o.trgt-n)/1000).toFixed(0)
					p.$digest();
				}
			]
			o.trgt=now()+o.period
			o.intrvl=setInterval(f[3],1000)
		}
		,stop:function(){
			if(p.poll.intrvl){clearInterval(p.poll.intrvl);p.poll.intrvl=0;}}
		,setPeriod:function(v){p.poll.stop();p.poll.period=v;p.poll.init();}
	}

	p.usrLogin=()=>{
		var n=p.inp,dt=now();
		console.log('usrLogin',n,dt);
		p.srvr.login(n.cid,n.pw,(p&&p.usrls&&p.usrls.srvrLM)||1,dt)
		.then(r=>r.json())
		.then(r=>{r=r&&r['return'];if(r)
			{	p.usr=r.val;
				try{	p.usr.state=  p.srvr.UserState.valueOf(
					p.usr.state)||p.srvr.UserState.Non;
				}catch(ex){}
				p.usrLogin.init(true,r.byDates)
				console.log('usrLogin:response',r);
				return p.saveLSUsr();}
			else
				alert('invalid login');
			})
	}//clkLogin

	p.usrLogin.init=function(sv,byDts){
		var x=!sv && localStorage.coop1Usr,US=p.srvr.UserState,newUsr=0
		if(x && !sv)
			p.usrls=JSON.parse(x);
		else newUsr=p.usrls=
			{usrId:sv=p.newId(),coopId:0,srvrLM:0}
		p.screen='consumer';
		if(!p.usrls.pollPeriod)
			p.usrls.pollPeriod=1000*20
		if(dbg && p.usr.state&& p.usr.state.i<US.Ready.i)
			p.usr.state=US.Ready;
		else p.usr.state=US.valueOf(
			p.usr.state)||US.Non;
		p.usrls.state=p.usr.state.s|| US[
			dbg?'Ready':'Non'
			].s;
		p.usrls.login=dt;
		p.usrls.cid=p.usr.id;
		p.usrls.expire=p.usr.expire
		if(byDts)
			p.onByDate(byDts)
		if(sv)
			p.saveLSUsr()
		p.inp.cid=p.usrls.id || p.usrls.usrId
		if(newUsr)
			p.srvr.signup(p.inp.cid,p.inp.pw,newUsr)
		p.screen='consumer'
		p.poll.init()
	}

	x=p.loadLSProps()
	p.ls=x.ls;p.lslm=x.log;
	p.inp={}
	p.usrLogin.init()

	p.lstnrs={}//cat/id/{o:<obj:lstnr>,mthdNm:<str:mthdNm ,in lstnr>}
	
	p.generateDay=function(dt){}

	p.getAppointments=function(dt){}
	p.chngDt=function(){}

 p.generateDayAppointments=function(t){
	if(dbg && !p.coop)p.coop={id:1,cat:'coop'}
	if(!p.coop)return;
	var c=p.coop,a=[]
	,wha=c.workingHours||[[new Date(0,0,0,7,30),new Date(0,0,0,15,30)]]
	,st=c.noPeoplePerTimeSlot||1 // simultanious people in the same time slot
	,period=c.timeSlotPeriod||30*60*1000
	,d,dt,x,wh
	for(var ai in wha){
		wh=wha[ai]
		d=new Date(t.getFullYear(),t.getMonth(),t.getDate()
			,wh[0].getHours(),wh[0].getMinutes() )
		dt=d.getTime()
		x=new Date(t.getFullYear(),t.getMonth(),t.getDate()
			,wh[1].getHours(),wh[1].getMinutes() ).getTime()
		a.push({id:dt,t:d})
		d=new Date(dt+period);dt=d.getTime()
		while(dt <= x){
			a.push({id:dt,t:d})
			d=new Date(dt+period);dt=d.getTime();
		}
	}
	return a;
 }

	//p.dateToArray=function(x){x=[x.getFullYear(),x.getMonth()+1,x.getDay(),x.getHours(),x.getMinutes(),x.getSeconds(),x.getMilliseconds(),x];return x;};p.d2Arr=function(x){x=[x.getHours(),x.getMinutes(),x];return x;}
	p.radioTime=function(apt){
		var u=p.usr,s='appointment',x=u[s]
		if(x)x.cid=null;
		u[s]=apt;apt.cid=u.id;
		console.log('radioTime:',apt)
	}

	p.tm2s=function tm2s(t){return t.getHours()+':'+('00'+t.getMinutes()).slice(-2);}
	p.inp.apptDay=new Date()
	p.appointmentsTable=p.generateDayAppointments( p.inp.apptDay )

	console.log('controller:MainCntrl: app=',app,' ,scope=',p )
}
]
)
</script>
<h1>Coop Appointments</h1>

<fieldset ng-if="!usr.state"><legend>login</legend>
	<form id=frmLogin><table border=1>
		<tr><td>Civil Id No.</td><td><input ng-model="inp.cid"/></td></tr>
		<tr><td>Password</td><td><input ng-model="inp.pw" type="password"/></td></tr>
	</table><input type="button" ng-click="usrLogin()" value="Login" /></form>
	<div id=loginInfo></div>
</fieldset>

<span style="border:1px solid black">state={{usr.state}} 
	, pollRemaining={{poll.remaining}} 
	, srvrLM={{usrls.srvrLM}} 
	, clientTime={{usrls.clientTime}}</span>

<!-- fieldset><legend>logout</legend>
</fieldset>

<fieldset><legend>signup</legend>
</fieldset>

<fieldset><legend>byDate</legend>
</fieldset>

<fieldset><legend>chngPw</legend>
</fieldset>

<fieldset><legend>insert</legend>
</fieldset>

<fieldset><legend>update</legend>
</fieldset>

<fieldset><legend>updateMeta</legend>
</fieldset -->

<fieldset ng-if="usr.state"><legend>consumer.state:{{usr.state}}</legend>
	<!--div ng-if="usr.state=='Non'">Non</div-->
	<div ng-if="usr.state.s=='SignupPending'">SignupPending</div>
	<div ng-if="usr.state.s=='ProfilePending'">ProfilePending</div>
	<div ng-if="usr.state.s=='Ready'">Ready
		<input type="date" ng-model="inp.apptDay" ng-change="chngDt()"/>
		<span ng-repeat="x in appointmentsTable" ><br/>
			<input type="radio" ng-value="x.id" id="{{x.id}}"
				ng-model="inp.apptTime"
			/><label for="{{x.id}}">{{tm2s(x.t)}}</label></span>
	inp={{inp|json}}
	</div>
	<div ng-if="usr.state.s=='QueuePending'">QueuePending</div>
	<div ng-if="usr.state.s=='Queued'">Queued</div>
	<div ng-if="usr.state.s=='Auth2enter'">Auth2enter</div>
	<div ng-if="usr.state.s=='InCoop'">InCoop</div>
	<div ng-if="usr.state.s=='QuotaPending'">QuotaPending</div></fieldset>

<!-- fieldset ng-if="">
<legend>Coop:{{ coop.label }}</legend>
coop.noPeoplePerTimeSlot || 
coop.workingHours [ [date,date] ...]
timeSlotPeriod || 30*60*1000
appointmentsTable:{
	<long:time>:[ {id:<long> , d:<date> ,cid:<str:usr.id> } ...]
}

</fieldset -->

<br/>mbohamad@kisr.edu.kw
</body>
</html>
